{% extends 'board/base.html' %}
{% block title %} 등록 {% endblock%}
{% block content %}
<form method = "post">
    {%csrf_token%}
    <table border = "1">
        <tr>
            <th>Title</th>
            <td>
                <input type = 'text' name = "title">
            </td>
        </tr>
        <tr>
        <th>Wirter</th>
            <td>
                    <input type = "text" name = "writer">
            </td>
        </tr>
        <tr>
            <th>Content</th>
                <td>
                        <input type = "text" name = "content">
                </td>
            </tr>
    </table>
    <button type = "submit"> REGIST </button>
</form>
{% endblock %}